
#firstname{
 font-size: 20px;
 width: 400px;

 

}

#lastname{
 font-size: 20px;
 width: 400px;

}

#email{
 font-size: 20px;
 width: 600px;

}

#sneakerbrand{
 font-size: 20px;
 width: 400px;
 
}



