tr{
    text-align: center ;
    vertical-align: middle;
}
th{
    text-align: center ;
    vertical-align: middle;
}
td{
    text-align: center ;
    vertical-align: middle;
    padding-left: 30px;
}
Table{
    text-align: center ;
    vertical-align: middle;
    padding-left: 30px;
}

