h1{
    
    color: #d5aca9;
    font-family: 'Coda Caption', sans-serif;
    font-size: 89px;
}

@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Potta+One&display=swap');